aniso8601==2.0.0
bcrypt==3.1.4
cffi==1.11.5
click==6.7
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
itsdangerous==0.24
Jinja2==2.10
MarkupSafe==1.0
pycparser==2.18
pytz==2018.3
PyYAML==3.12
rethinkdb==2.3.0.post6
shyaml==0.5.2
six==1.11.0
uWSGI==2.0.17
Werkzeug==0.14.1
